* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 200%;
}


.image {
    height: calc(100% / 3);
    position: sticky;
    top: 0;
}

.image a {
    font-size: 1rem;
    user-select: none;
    color: white;
}


.image a:hover {
    color: #ecf0f1;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
